.layout.basic {

	a {
		color: var(--link-color);
	}

	.masthead {
		display: grid;
		grid-template-areas: "left right";
		grid-template-rows: min-content;
		grid-template-columns: 1fr min-content;

		margin-bottom: 1rem;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 32pt;
		}

		address {
			font-style: normal;

			.phone-number a,
			.email a {
				color: unset;
				text-decoration: none;
			}
		}

		.contact-information {
			display: grid;
			align-content: center;
			grid-template-areas:
			"phone-number linkedin-profile"
			"email github-profile";
			grid-template-rows: min-content min-content;
			grid-template-columns: min-content min-content;
			grid-column-gap: 1rem;
		}

		.name {
			font-variant: small-caps;
		}

		.phone-number {
			grid-area: phone-number;
		}

		.email {
			grid-area: email;
		}

		.github-profile {
			grid-area: github-profile;
		}

		.linkedin-profile {
			grid-area: linkedin-profile;
		}
	}

	.section.major {
		margin-bottom: 1rem;

		> header {
			font-variant: small-caps;
			border-bottom: 1px solid black;
			margin-bottom: 0.5rem;
		}

		h2 {
			margin: 0;
		}
	}

	.job {
		margin-bottom: 1rem;

		h3 {
			margin: 0;
		}

		.responsibilities {
			padding-left: 0;
			margin: 0;
			list-style-position: inside;
		}
	}

	.education {
		.degree {
			font-weight: bold;
			font-variant: unset;
		}
	}

	.skills {
		dfn {
			font-style: normal;
		}

		dt {
			display: inline;
			font-weight: bold;
		}

		dd {
			display: inline;
			margin: 0;
		}

		dd::after {
			content: '';
			display: block;
			margin-bottom: 0.25rem;
		}
	}

	.projects {
		.project {
			margin-bottom: 1rem;

			h3 {
				margin: 0;
			}

			ul {
				padding-left: 0;
				margin: 0;
				list-style-position: inside;
			}
		}
	}

}
