#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
	--page-width-letter: 8.5in;
	--page-height-letter: 11in;

	--page-width: var(--page-width-letter);
	--page-height: var(--page-height-letter);
	--page-margin: 0.5in;

	--font-size: 10pt;
	--font-size-print: 12pt;
	--link-color: blue;
}

.resume {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.page {
	break-before: page;
	color: black;
	box-sizing: border-box;
	text-align: left;

	.page-content {
		width: 100%;
		height: 100%;
		background-color: white;
	}
}

@media screen {
	.page {
		aspect-ratio: var(--page-width) / var(--page-height);
		width: var(--page-width);
		height: var(--page-height);

		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		padding: var(--page-margin);
		background: white;
		font-size: var(--font-size);
	}

	.page.margin-indicator {
		background:
				repeating-linear-gradient(
						45deg,
						transparent,
						transparent 10px,
						#ddd 10px,
						#ddd 11px
				),
				repeating-linear-gradient(
						-45deg,
						white,
						white 10px,
						#ddd 10px,
						#ddd 11px
				);
	}
}

@media print {
	.page {
		width: var(--page-width-letter);
		height: var(--page-height-letter);
		box-shadow: none;
		font-size: var(--font-size-print);
	}

	@page {
		size: letter;
		margin: var(--page-margin);
	}
}
