.corner-cap {
	--corner-cap-color: var(--accent-color, black);
	--corner-cap-contrast-color: white;

	background-color: var(--corner-cap-color);
	color: var(--corner-cap-contrast-color);
	margin-left: calc(-1 * var(--page-margin));
	margin-top: calc(-1 * var(--page-margin));

	padding-left: var(--page-margin);
	padding-top: var(--page-margin);
	padding-bottom: 1rem;
	padding-right: 1rem;
}
